/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);
$heiwaextjs-button-icon-color: #fff;
$heiwaextjs-tab-icon-color: rgb(11, 103, 196);

.tabIcon {
    color: $heiwaextjs-tab-icon-color;
}

.buttonIcon {
    color: $heiwaextjs-button-icon-color;
}